@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* Ẩn scrollbar cho tất cả trình duyệt */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

html {
  -ms-overflow-style: none; /* IE, Edge cũ */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.dropdown-fullwidth {
  left: 0 !important;
  right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  top: 90% !important;
  transform: none !important;
}
